body {
    font-family: Inter, sans-serif ;
    background-color: #273549;
    margin-top: 10%;
    display: flex;
}

.container {
    /* factored out the padding from the height/width to maintain size */
    height: 320px;
    width: 446px;
    padding: 115px 52px;
   /* used to center on page */
    margin: auto;
    
    background-color: #1F2937;
    border-radius: 6px;
}

.title-white, .title-green {
    font-family: Karla, sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -1px;

    margin: 0;
}

.title-white {
    color: #FFF
}

.title-green {
    color: #4ADF86;
}

.marketing-text {
    color: #D5D4D8;
    font-size: 20px;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 0;
}

#generate-pass-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFF;

    background-color: #10B981;
    
    border: none;
    border-radius: 6px;

    margin-top: 51px;
    padding: 9px 17px 9px 15px;

    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

hr {
    border: none;

    background-color: #2F3E53;
    width: 446px;
    height: 1px;

    margin-top: 35px;
}

input {
    background-color: #273549;
    border: none;
    border-radius: 6px;
    width: 211px;
    height: 39px;

    margin-top: 35px;
    
    color: #10B981;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
}

.flex-container-util {
    display: flex;
    justify-content: space-between;
}

.copy-btn {
    outline: none;

    background-color: #1F2937;
    border: 1.5px solid #273549;
    border-radius: 0 6px 6px 0;

    height: 39px;
    transform: translateX(-35.5px) translateY(36px);
    
    display: flex;
    align-items: center;
}

